<ion-header>
    <ion-toolbar>
        <ion-title>exercicio1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <input type="number" placeholder="Numero de passos" [(ngModel)]="numeroPassos">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <input type="text" placeholder="passos" [(ngModel)]="passos">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <p>{{ numeroPassos }}</p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <p>{{ passos }}</p>
            </ion-col>
        </ion-row>

        <ion-button (click)="contarVales()">Contar</ion-button>
    </ion-grid>

    <br>
</ion-content>